:root {
    --primary: darkblue;
    --primaryText: pink;
    --primaryTextHover: gray;
    --secondary: white;
    --secondaryText: black;
    --secondaryTextAlt: bisque;
    --third: darkblue;
    --thirdText: white;
}
@font-face {
    font-family: tanha;
    src: url('../fonts/Tanha.ttf');
    /* TODO: add other font-formats
         url('FontName.woff') format('woff'),
         url('FontName.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
  }

* {
    font-family: tanha;
  }
body{
    direction: rtl;
}

nav{
    background-color: var(--primary);
}
.navbar-dark .navbar-nav .nav-link {
    color: var(--primaryText);
  }
  .navbar-dark .navbar-nav .nav-link:hover{
    color: var(--primaryTextHover);
  }


.static-text{
    font-size: 1.5em;
  }
#navbar-logo{
    height: 1em;
}

.index-card {
    margin-top : 32px;
    padding: 32px;
    min-height:50vh;
}
.index-card:nth-child(2n+1) {
    background-color: var(--secondary);
    color: var(--secondaryText);
}
.index-card:nth-child(2n) {
    background-color: var(--third);
    color: var(--thirdText);
    h1{
        color:var(--secondaryTextAlt);
    }
}
.btn-success {
    background-color: var(--secondary);
    color: var(--secondaryText);
}

