:root {
    --pal-00: #32324f;
    --pal-04: #5a486a;
    --pal-16: #d288b9;
    --pal-20: #fa9ed4;

    --primaryBG: #461959;
    --primaryText: white;

    --buttonBG: var(--pal-16);
    --buttonText: hsl(320, 51.2%, 32.2%);

    --secondaryBG: var(--pal-20);
    --secondaryText: hsl(320, 51.2%, 32.2%);
}
@media screen and (min-width: 480px) and (max-width: 768px) {
    #about-text {
      font-size: 18px;
    }
  }

html{
    direction: rtl;
}
body{
    text-align: right;
}

/* .container{
    min-height: 100vh;
} */

@font-face {
    font-family: tanha;
    src: url("../fonts/Tanha.ttf");
    /* TODO: add other font-formatsurl('FontName.woff') format('woff'),url('FontName.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: vazir;
    src: url("../fonts/Vazir.ttf");
    /* TODO: add other font-formatsurl('FontName.woff') format('woff'),url('FontName.ttf') format('truetype'); */
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: tanha;
}



.slide-left{
animation: slide-left 1s linear forwards;
}
@keyframes slide-left{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}





btn,a,button{
    font-family: vazir;
}

body {
    direction: rtl;
}

/*navbar*/
nav {
    background-color: #2E0249;    
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--primaryText);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: color-mix(in srgb, var(--primaryText), var(--secondaryBG));
}

#navbar-logo {
    height: 1em;
}

.static-text {
    font-size: 1.5em;
}

/*index cards */

.index-card {
    margin-top: 32px;
    padding: 32px;
    min-height: 50vh;
}

.index-card:nth-child(2n) {
    background-color:#2E0249;
    color: var(--primaryText);
}

.index-card:nth-child(2n + 1) {
    color: var(--secondaryText);
}

/* button*/
.index-card:nth-child(2n) .btn {
    padding: 1em;
    font-family: vazir;
    font-size: larger;
    border-radius: 16px;
    border-width: 0px;
}

.index-card:nth-child(2n) .btn:hover {
    background: color-mix(in srgb, var(--buttonBG), white);
}

#nav-profile {
    position: absolute;
    left: 12px;
    top: 8px;
    z-index: 4;
}
#nav-profile img {
    /* height: 2.5em; */
    border-radius: 15px;
}
#nav-profile .nav-link{
    padding-left: 0px;
}

#nav-profile .dropdown-menu {
    padding:0px;
    min-width: 2rem;
    text-align: center;

}
.btn-login{
    width: 100%;
    color: white;
}


body{
    background:#fff;
}

.panel {
  box-shadow: 0 2px 0 rgba(0,0,0,0.05);
  border-radius: 0;
  border: 0;
  margin-bottom: 24px;
}

.panel-dark.panel-colorful {
  background-color: #3b4146;
  border-color: #3b4146;
  color: #fff;
}

.panel-danger.panel-colorful {
  background-color: #f76c51;
  border-color: #f76c51;
  color: #fff;
}

.panel-primary.panel-colorful {
  background-color: #5fa2dd;
  border-color: #5fa2dd;
  color: #fff;
}

.panel-info.panel-colorful {
  background-color: #4ebcda;
  border-color: #4ebcda;
  color: #fff;
}

.panel-body {
  padding: 25px 20px;
}

.panel hr {
  border-color: rgba(0,0,0,0.1);
}

.mar-btm {
  margin-bottom: 15px;
}

h2, .h2 {
  font-size: 28px;
}

.small, small {
  font-size: 85%;
}

.text-sm {
  font-size: .9em;
}

.text-thin {
  font-weight: 300;
}

.text-semibold {
  font-weight: 600;
}

a{text-decoration:none;}
/* ======= */
/*social */
.card-one {
    position: relative;
    width: 300px;
    background: #fff;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}
.card {
    margin-bottom: 35px;
    box-shadow: 0 10px 20px 0 rgba(26, 44, 57, 0.14);
    border: none;
}

.follower-wrapper li {
    list-style-type: none;
    color: #fff;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.social-profile {
    color: #fff;
}

.social-profile a {
    color: #fff;
}

.social-profile {
    position: relative;
    margin-bottom: 150px;
}

.social-profile .user-profile {
    position: absolute;
    bottom: -75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 50px;
}

.social-nav {
    position: absolute;
    bottom: 0;
}

.social-prof {
    color: #333;
    text-align: center;
}

.social-prof .wrapper {
    width: 70%;
    margin: auto;
    margin-top: -100px;
}

.social-prof img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    /*border: 10px solid #70b5e6ee;*/
}

.social-prof h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
}

.social-prof p {
    font-size: 18px;
}

.social-prof .nav-tabs {
    border: none;
}

.card .nav>li {
    position: relative;
    display: block;
}

.card .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: 300;
    border-radius: 4px;
}

.card .nav>li>a:focus,
.card .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.card .s-nav>li>a.active {
    text-decoration: none;
    background-color: #3afe;
    color: #fff;
}

.text-blue {
    color: #3afe;
}

ul.friend-list {
    margin: 0;
    padding: 0;
}

ul.friend-list li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul.friend-list li:hover {
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}

ul.friend-list .left img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

ul.friend-list li {
    padding: 10px;
}

ul.friend-list .right h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

ul.friend-list .right p {
    font-size: 11px;
    color: #6c757d;
    margin: 0;
}

.social-timeline-card .dropdown-toggle::after {
    display: none;
}

.info-card h4 {
    font-size: 15px;
}

.info-card h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.social-about .social-info {
    font-size: 16px;
    margin-bottom: 20px;
}

.social-about p {
    margin-bottom: 20px;
}

.info-card i {
    color: #3afe;
}


#gallery li {
    width: 24%;
    float: left;
    margin: 6px;

}

.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:9px;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    margin-top: 20px;
  }

  /* Flip around the padding for proper display in narrow viewports */
  .navbar-wrapper .container {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-wrapper .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-content
  {
      width:320px;
      padding: 15px;
      padding-bottom:0px;
  }
  /* for phones*/
  @media screen and (max-width : 768){
    .navbar-content
    {
        width:200px;
    }
  }
  .navbar-content:before, .navbar-content:after
  {
      display: table;
      content: "";
      line-height: 0;
  }
  .navbar-nav.navbar-right:last-child {
  margin-right: 15px !important;
  }
  .navbar-footer
  {
      background-color:#DDD;
  }
  .navbar-footer-content { padding:15px 15px 15px 15px; }
  .dropdown-menu {
  padding: 0px;
  overflow: hidden;
  }

  table.sortable td,
  table.sortable th {
    width: 8em;
  }

  table.sortable th {
    font-weight: bold;
    border-bottom: thin solid #888;
  }

  table.sortable th.no-sort {
    padding-top: 0.35em;
  }

  table.sortable th:nth-child(5) {
    width: 10em;
  }

  table.sortable th button {
    padding: 4px;
    margin: 1px;
    font-size: 100%;
    font-weight: bold;
    background: transparent;
    border: none;
    display: inline;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    /* text-align: left; */
    outline: none;
    cursor: pointer;
    width: 100%;
  text-align: inherit;
  }

  table.sortable th button span {
    /* position: absolute; */
    right: 4px;
  }

  table.sortable th[aria-sort="descending"] span::after {
    content: "▼";
    color: currentcolor;
    font-size: 100%;
    top: 0;
  }

  table.sortable th[aria-sort="ascending"] span::after {
    content: "▲";
    color: currentcolor;
    font-size: 100%;
    top: 0;
  }

  table.show-unsorted-icon th:not([aria-sort]) button span::after {
    content: "♢";
    color: currentcolor;
    font-size: 100%;
    position: relative;
    top: -3px;
    left: -4px;
  }

  table.sortable td.num {
    text-align: right;
  }

  table.sortable tbody tr:nth-child(odd) {
    background-color: #ddd;
  }

  /* Focus and hover styling */

  table.sortable th button:focus,
  table.sortable th button:hover {
    padding: 4px;
    background-color: #e5f4ff;
  }

  table.sortable th button:focus span,
  table.sortable th button:hover span {
    right: 0px;
  }

  table.sortable th:not([aria-sort]) button:focus span::after,
  table.sortable th:not([aria-sort]) button:hover span::after {
    content: "▼";
    color: currentcolor;
    font-size: 100%;
    top: 0;
  }

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 5px;
}

.account-wall {
    margin-top: 20px;
    padding: 20px 25px 30px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.logo {
    margin: 25px auto 20px;
    float: none;
    display: block;
    height: 38px;
    width: 116px;
}

.title {
    font-size: 20px;
    color: #262626;
    margin: 0 0 15px;
    font-weight: normal;
}

.accountchooser ol {
    width: 100%;
    margin: 0;
    list-style: none;
    padding: 0;
}

.accountchooser ol li {
    height: 76px;
    border-top: 1px solid #d5d5d5;
}


.accountchooser ol li button {
    padding: 15px 0;
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    border: 0;
    cursor: pointer;
    text-align: left;
    background: url(//ssl.gstatic.com/accounts/ui/arrow_right_1x.png) right center no-repeat;
    background-size: 21px 21px;
}

.accountchooser ol li button img {
    float: left;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 46px;
    width: 46px;
}

.accountchooser ol li button span.account-name {
    font-weight: bold;
    font-size: 16px;
    padding-top: 3px;
    color: #427fed;
}

.accountchooser ol li button span {
    display: block;
    margin-left: 58px;
    padding-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action {
    padding: 5px;
}

.action ul {
    width: 100%;
    margin: 0;
    list-style: none;
    padding: 0;
}

.action ul li:first-child {
    border-right: 1px solid #d5d5d5;
}

.action ul li {
    width: 49%;
    display: inline-block;
}

.action ul li a {
    color: #427fed;
    cursor: pointer;
    text-decoration: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    background: none;
    text-align: center;
    padding: 12px 0;
    outline: none;
    text-decoration: none;
    border: 0;
}

.brand-google{
    background-color:#c63702;
    color:white;
}
.brand-google:hover{
    background-color: lightcoral;
    color:white;

}
.brand-facebook:hover{
    background-color: lightblue;
    color:white;

}
.brand-github:hover{
    background-color: gray;
    color:white;

}
.brand-facebook{
    background-color:#428bca;
}
.brand-github{
    background-color:black;
}

.brand-google.notPressed {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
}
.brand-facebook.notPressed {
    box-shadow:0 0 0 1px #428bca inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #357ebd, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
}
.brand-github.notPressed {
    box-shadow:0 0 0 1px black inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 black, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
}

.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:9px;
}
.btn-section{
    padding: 9px;
  margin-right: 34px;
  width: 123px;
  background-color: #F806CC;
  color: white;
  margin-right: auto;
  margin-left: 12px;
  font-weight: bold;
  width: 100%;
}
.btn-section:hover {
    background-color:pink;
    color: white;
}

.form-control:not(textarea) {
    height: 44px;
}
.form-control {
    padding: 0 18px 3px;
    border: 1px solid #dbe2e8;
    border-radius: 22px;
    background-color: #fff;
    color: #606975;
    font-family: "Maven Pro",Helvetica,Arial,sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form-group label {
    margin-bottom: 8px;
    padding-left: 18px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
}


.form-text {
    padding-left: 18px;
}
.text-muted {
    color: #9da9b9 !important;
}

#product-url-show{
    max-height: 3em;
  display: block;
  overflow: auto;
  direction: ltr;
  background: floralwhite;
  border-radius: 4px;
  padding: 4px;
  text-align: left;
}

.wish-notification {
    position:fixed;
    z-index: 5;
    opacity: 0.8;
    margin: 8px;
    width: 380px;
    height: 70px;
    overflow: auto;
}






.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.btn-circle.btn-lg, .btn-group-lg>.btn-circle.btn {
    width: 50px;
    height: 50px;
    padding: 14px 15px;
    font-size: 18px;
    line-height: 23px;
}
.text-muted {
    color: #8898aa!important;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-circle {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    padding: 10px;
}
.user-table tbody tr .category-select {
    max-width: 150px;
    border-radius: 20px;
}





