.site-footer {
    padding-top: 72px;
    background-color: #570A57;
    /* position: absolute;
    bottom: 0px;
    width: 100%; */
}
@media (max-width: 768px) {
    .site-footer {
        padding-top: 48px;
    }
}
.footer-copyright {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 24px;
    color: white;
    font-size: 14px;
    font-weight: normal;
}
.footer-copyright > a {
    transition: color 0.25s;
    color: white;
    text-decoration: none;
}
.footer-copyright > a:hover {
    color: #0da9ef;
}
.footer-light {
    background-color: #f5f5f5;
}
.footer-light .footer-copyright {
    color: #9da9b9;
}
.footer-light .footer-copyright > a {
    color: #9da9b9;
}
.footer-light .footer-copyright > a:hover {
    color: #0da9ef;
}
img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.widget-light-skin .widget-title {
    border-color: rgba(255, 255, 255, 0.12);
    color: white;
}
.widget-light-skin.widget-categories ul > li::before,
.widget-light-skin.widget-links ul > li::before {
    color: rgba(255, 255, 255, 0.15);
}
.widget-light-skin.widget-categories ul > li > a,
.widget-light-skin.widget-links ul > li > a {
    color: #fff;
}
.widget-light-skin.widget-categories ul > li > a:hover,
.widget-light-skin.widget-links ul > li > a:hover {
    color: #0da9ef;
}
.widget-light-skin.widget-categories ul > li.active > a,
.widget-light-skin.widget-links ul > li.active > a {
    color: #0da9ef;
}
.widget-light-skin.widget-categories ul > li > span,
.widget-light-skin.widget-links ul > li > span {
    color: white;
}
.widget-light-skin.widget-featured-posts > .entry .entry-title > a,
.widget-light-skin.widget-featured-products > .entry .entry-title > a {
    color: #fff;
}
.widget-light-skin.widget-featured-posts > .entry .entry-title > a:hover,
.widget-light-skin.widget-featured-products > .entry .entry-title > a:hover {
    color: #0da9ef;
}
.widget-light-skin.widget-featured-posts > .entry .entry-meta,
.widget-light-skin.widget-featured-products > .entry .entry-meta {
    color: white;
}
.widget-light-skin .tag {
    border-color: rgba(255, 255, 255, 0.12);
    color: #fff !important;
}
.widget-light-skin .tag:hover {
    background-color: #f5f5f5;
    color: #606975 !important;
}
.widget-light-skin .tag.active {
    border-color: #0da9ef;
    background-color: #0da9ef;
    color: #fff !important;
}


.widget-title {
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e1e7ec;
    color: #9da9b9;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}



